@import url(/CSS/base.css);

.main_div {
  display: flex;
}

.intall_tab {
  padding: 0.5rem;
}

.left_div {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 5rem;
  height: 40rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--white-color);
}

.content {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0;
}

.box1 {
  position: sticky;
  top: 0;
  background-color: var(--white-color);
}

.item a {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.right_div {
  max-width: 80%;
}

.item {
  padding: 1rem;
}

.components:hover ,.intall_tab:hover{
  background-color: var(--boder-color);
  border-radius: 0.5rem;
  color: var(--primary-color);
}

.para {
  color: var(--secondary-color);
  margin: 2rem 1rem;
  padding: 0rem;
}

.component_heading {
  color: var(--component-color);
  font-size: 3rem;
  margin: 2rem 2rem;
}

.component_example {
  display: flex;
  flex-wrap: wrap;
  color: var(--component-color);
  font-size: 2rem;
  margin: 2rem 2rem;
}

.component_box {
  border: 3px solid var(--boder-color);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
  margin: 3rem 2rem;
}

.component_code {
  border: 1px solid var(--boder-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  margin: 3rem 2rem;
}

.primary_text_color {
  color: var(--primary-color);
}

.btn_floting_action{
  position: fixed;
  bottom: 2rem;
  right: 1rem;
}