@import url(/CSS/base.css);

.main_div {
    display: flex;
    width: 100%;
}

.intall_tab {
    display: flex;    
    justify-content: center;
    color: var(--primary-color);
    font-weight: bold;
    padding: 0.5rem;
}

.intall_tab:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    opacity: 0.7;
}

.left_div {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px -15px;
    position: sticky;
    top: 0;
    height: 40rem;
    width: 25rem;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--white-color);
}

.content {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 0;
}

.box1 {
    position: sticky;
    top: 0;
    background-color: var(--white-color);
}

.item a {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: noComponents
}

.right_div {
    width: 80%;
    border: 3px solid honeydew;

}

.item {
    padding: 1rem;
}

.components:hover {
    background-color: lightgray;
    border-radius: 0.5rem;
    color: var(--primary-color);
}

.para {
    color: var(--secondary-color);
    margin-left: 2rem;
    margin-top: 1rem;
    padding: 0rem;
}

.component_heading {
    color: var(--component-color);
    font-size: 3rem;
    margin: 2rem 2rem;
}

.component_example {
    display: flex;
    flex-wrap: wrap;
    color: var(--component-color);
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.component_box {
    border: 3px solid var(--boder-color);
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
    margin-left: 3rem;
    margin-top: 2rem;
}

.component_code {
    display: flex;
    justify-content: center;
}

.primary_text_color {
    color: var(--primary-color);
}


/* 
@media(max-width: 998) {
    html {
        font-size: 55%;
    }

}

@media(max-width: 768) {
    html {
        font-size: 45%;
    }

} */