@import url(/stylestheet/abstract/variable.css);
@import url(/stylestheet/abstract/utilities.css);
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant+Garamond:wght@400;500&family=EB+Garamond&family=Indie+Flower&family=Kalam:wght@300&family=Libre+Baskerville&family=Marck+Script&family=Montagu+Slab:wght@300&family=Montserrat:ital,wght@0,100;0,300;0,400;1,500&family=Noto+Serif&family=Philosopher:wght@700&family=Quintessential&family=Source+Serif+Pro:ital,wght@1,300&family=Yuji+Mai&display=swap');


.navigation {
    background-color: var(--white-color);
    box-shadow: 10px 10px 10px -15px var(--black-color);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: 100%;
    position: sticky;
    top: 0;
}

.list {
    display: flex;
    gap: 6rem;
    justify-content: flex-end;
    list-style: none;
    margin-right: 5rem;
}

.links {
    color: var(--black-color);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

a.links:hover {
    color: var(--secondary-color);
    border-bottom: 4px solid var(--primary-color);
}

.name {
    display: flex;
    flex-direction: column;
    font-family: var(--secondary-font);
    margin-left: 5rem;
}

.ui_name {
    color: var(--primary-color);
    font-size: 2rem;
    text-decoration: none;
}

.ui_link {
    text-decoration: none;
}

.ui_tagline {
    font-size: 1rem;
}

.getstart {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    text-align: center;
}

.landing_tag {
    color: var(--secondary-color);
    font-size: 3rem;
    margin-top: 5rem;
}

.doc_page {
    background-color: var(--primary-color);
    box-shadow: 1px 2px 1px 2px var(--secondary-color);
    border-radius: 0.5rem;
    color: var(--white-color);
    font-size: 2rem;
    margin-top: 2rem;
    padding: 0.5rem;
    text-decoration: none;
    width: 15rem;
}

.doc_page:hover {
    background-color: white;
    box-shadow: 2px 1px 2px 1px var(--secondary-color);
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
}

/* insatllation part */
.install_container {
    padding: 5rem;
    width: 100%;
    z-index: -1;
    height: 50rem;
}

.install_head {
    display: flex;
    justify-content: center;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 3rem;
    text-decoration: underline;
}

.info {
    text-align: center;
}

.install_text_color {
    color: var(--secondary-color);
    text-decoration: none;
}

.doc_link {
    /* text-decoration: none; */
    color: var(--primary-color);
    font-weight: bold;
}