:root {
    --primary-color: #1E40AF;
    --secondary-color: #4b5563;
    --component-color: #334155;
    --white-color: #f9fafb;
    --gray-color: #a1a1aa;
    --black-color: #1e293b;
    --boder-color: #d4d4d8;
    --primary-font: 'Playfair Display', serif;
    --secondary-font: 'Quintessential', cursive;
    --primary-alert-color:#a5b4fc;

}   