.alert_container {
    border-radius: 0.5rem;
    background-color: var(--primary-alert-color);
    font-size: 1.5rem;
    height: 4rem;
    padding: 1rem;
    width: 50rem;
}

#Alerts .component_box {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    height: 30rem;
}

a.alert_primary {
    border-bottom: 1px solid var(--primary-color);
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.alert_primary:hover {
    color: var(--primary-color);
}

.alert_secondary {
    background-color: #e0e7ff;
}

.alert_success {
    background-color: #bbf7d0;
    color: #16a34a;
}

i.far {
    color: #16a34a;
}

.alert_danger {
    background-color: #fecaca;
    color: #ef4444;
}

i.fas {
    color: #ef4444;
}

.alert_warning {
    background-color: #fed7aa;
    color: #f97316;
}

.alert_warning .fas {
    color: #f97316;
}