.alert_container {
    border-radius: 0.5rem;
    background-color: var(--primary-alert-color);
    font-size: 1.5rem;
    padding: 1rem;
    width: 45rem;
}

.alert_box {
   gap: 1rem;
}

.alert_primary {
    border-bottom: 1px solid var(--primary-color);
    color: var(--black-color);
    font-weight: bold;
    text-decoration: none;
}

.alert_primary:hover {
    border-bottom: 3px solid var(--primary-color);
    color: var(--primary-color);
}

.alert_secondary {
    background-color:var(--secondary-alert-bg);
}

.alert_success {
    background-color:var(--success-alert-bg);
    color:var(--success-alert-color);
}

.far {
    color: var(--success-alert-color);
}

.alert_danger {
    background-color:var(--danger-alert-bg);
    color: var(--danger-alert-color);
}

.fas {
    color: var(--danger-alert-color);
}

.alert_warning {
    background-color:var(--warning-alert-bg);
    color: var(--warning-alert-color);
}

.alert_warning .fas {
    color: var(--warning-alert-color);
}