.button_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.btn_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-top: -1.5rem;
}

.btn_primary {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    width: 12rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white-color);
    text-decoration: none;
    cursor: pointer;
}

.btn_primary:hover {
    box-shadow: 0px 0px 0px 2px var(--primary-color);
}

.primary-outline {
    background-color: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.primary-outline:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.primary_text {
    position: relative;
    top: 1rem;
    border-bottom: 1px solid var(--primary-color);
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--black-color);
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.primary_text:hover {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.cart_icon {
    color: var(--white-color);
    padding-right: 1rem;
}

.secondary_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--secondary-color);
    border-radius: 0.5rem;

}

.solid_secondary {
    width: 6rem;
    padding: 0.5rem;
    background-color: var(--lightGray-color);
}

.secondary_btn:hover {
    background-color: #d4d4d4;
    color: var(--black-color);
}

.outline {
    border: 1px solid var(--secondary-color);
    width: 7rem;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--secondary-color);
    border-bottom: 2px solid var(--black-color);
}

.link:hover {
    border-bottom: 3px solid var(--black-color);
    color: var(--black-color);

}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

i.trash {
    color: var(--secondary-color);
}

.trash:hover {
    color: var(--black-color);
}

.floating_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    text-decoration: none;
}

.icon_btn {
    color: var(--primary-color);
}