.card_container,
.heart_btn,
.price {
    display: flex;
    flex-wrap: wrap;
}

.heart_btn,
.price,
.card_btn {
    font-size: 1.5rem;
}

.icons_card,
.icons_card_slash {
    margin-right: 0.5rem;

}

.card_container,
.card_img {
    width: 25rem;
}

.card_container,
.badge_size,
.card_btn {
    border-radius: 0.5rem;
}

.heart_btn:hover,
.card_btn:hover {
    opacity: 0.7;
}

.product_name,
.card_discription,
.card_rating {
    padding: 0;
    margin: 0 1rem;
}
.card_container,.badge_size,.text_overlay{
    position: relative;
}
.card_container {
    background-color: white;
}

.card_img {
    height: 16rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card_horizontal,
.titel_container {
    box-shadow: 3px 2px 4px 2px gray;
}

.heart_btn {
    position: absolute;
    top: 1rem;
    left: 21rem;
    height: 3rem;
    width: 3rem;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 50%;
}

.heart_icon {
    color: var(--component-color);
}

.card_discription {
    margin-top: 1rem;
}

.card_rating {
    padding-top: 1rem;
}

.card_star {
    color: var(--golden-color);
    font-size: 1.3rem;
}

.price {
    gap: 1rem;
    margin-top: 0.5rem;
}

.btn_container {
    margin: 1rem;
}

.card_btn {
    width: 10rem;
    height: 3.5rem;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.icons_card_slash {
    color: var(--black-color);
}

.btn_buy {
    background-color: white;
    color: var(--black-color);
    border: 3px solid var(--primary-color);
}

.icons_card {
    color: white;
}

.dismiss_icon {
    font-size: 2rem;
    border: none;
    background-color: transparent;
    margin-top: 1rem;
    margin-left: 1rem;
}

.badge_size {
    right: 1rem;
    top: 1.5rem;
}

.text_overlay {
    background-color: var(--lightGray-color);
    font-size: 3rem;
    left: 5rem;
    top: 18rem;
}

.card_opacity {
    opacity: 0.4;
}

.card_horizontal {
    display: flex;
    flex-direction: row;
    width: 50rem;
}