.rating_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rating_text {
    font-size: 2rem;
}

.star_color {
    color: var(--gray-color);
    font-size: 2rem;
    cursor: pointer;
}

.star_control:hover {
    color: var(--golden-color);
}

.star_read {
    color: var(--golden-color);
}

.star_disable {
    color: var(--lightgolden-color);
}